@font-face {
    font-family: Anton-Regular;
    src: url(Fonts/Anton-Regular.ttf);
}
body{
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    overflow: hidden;
}
div>h1{
    font-size: 80px;
    color: red;
    font-family: Anton-Regular;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
div{
    text-align: center;  
}
p{
    font-family: Anton-Regular;
    background-color: black;
    display: inline-block;
    border-radius:7px ;
    box-shadow: 2px 2px 15px gray;
    width: 185px;
    padding: 2px 8px;
    margin: 2px 8px;
    color:white;
    font-size: 155px;

}
div>button{
    height: 45px;
    width: 85px;
    border:2px solid white;
    font-family: Anton-Regular;
    background-color: black;
    color:white;
    font-size: 26px;
    border-radius: 9px ;
    box-shadow: 2px 2px 6px grey;
}
p:hover{
    color:white;
    border:4px solid white;
    cursor: pointer;

}

button:hover{
    box-shadow: 1px 1px 10px white;
    border:1px solid white;
    cursor: pointer;
    color:white;
}

@media only screen and (max-width: 750px) {
    p{
        font-size: 80px;
        border-radius: 8px ;
        width: 96px;
        padding: 1px 5px;
        margin: 1px 5px;
    }
    body{
        height: 750px ;
    }
}
